.input {
  margin-bottom: 2rem;
}

.contentInput {
  display: flex;
  flex-direction: column;
}

.labelStyle {
  font-weight: bold;
  width: 50%;
  display: block;
}

.inputStyle {
  display: block;
  padding: 10px;
  color: #4b566b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dae1e7;
  appearance: none;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px transparent;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.responseErrorText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fakeIcon {
  font-family: 'PT Serif', serif;
  font-size: 17px;
  border-radius: 50%;
  border: 1px solid red;
  padding: 3px;
  line-height: 17px;
  width: 15px;
  height: 15px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
}

.combinedItem {
  display: flex;
}

.combinedItem>div {
  margin-right: 20px;
}

.errorText {
  color: red;
  border: 1px dashed red;
  padding: 5px;
  border-radius: 5px;
  display: flex;
}

.invalid {
  display: none;
}

input[dirty=true]:required:invalid+p.invalid {
  display: block;
}

@media only screen and (max-width: 425px) {
  .combinedItem {
    display: block;
  }
}